*
{
    transition: all 1s;
}


.navbar-brand img
{
    width:50px;
    height:40px;
}
.navbar
{
    background-color: #fff;
    position:fixed;
    right:0;
    left:0;
    z-index:68455;
}
.nav-link 
{
    color:#13c5dd;
}
.navbar-brand
{
    color:#13c5dd;
    font-family: 'Charm', cursive;
}
.navbar-brand i
{
    color:435ba1;
}
.dropdown-item 
{
   color:#13c5dd; 
}
.nav-link:hover
{
    color:#435ba1;
}
.dropdown-item:hover
{
    background-color: #13c5dd;
    color:#fff;
}
.contact input
{
    border-radius: 0;
    box-shadow: none;
}
.contact textarea
{
    height:200px;
    border-radius: 0;
}
.get-start
{
    margin-top:100px;
    color:#fff;
    text-align: center;
}
.get-start hr
{
    width:50px;
    background-color:#13c5dd;
}
.get-start:hover hr
{
    width:80px;
}
footer
{
    background-color: #2a303b;
}
footer hr
{
    background-color: #13c5dd;
}
.last-section .logo
{
    color: #ccc;
    opacity: 0.1;
}

.last-section .social i:hover 
{
    
    background-color: #fff;
}
.last-section p
{
    color:#fff;
    font-family: 'ZCOOL XiaoWei', serif;
}
.itemone h2
{
    font-family: 'Charm', cursive;
    color:#13c5dd;
    font-size:30px;
    font-weight:600;
}
.itemone p
{
      color:#1f1f1f;
    font-family:'ZCOOL XiaoWei', serif;
    font-size:18px;
    font-weight:300;
}
.itemone h3
{
     font-family: 'Charm', cursive;
    color:#13c5dd;
    font-size:30px;
    font-weight:600;
}

#tiitly .branch h3 {
    
    font-family: 'Charm', cursive;

    color:#13c5dd ;
    font-size: 40px;
    font-weight: 600;
    
    
}
.btnTop
{
    position:fixed;
    bottom:10%;
    right:5%;
    background-color:#13c5dd;
    padding:10px;
    border-radius:15px;
    cursor: pointer;
    color:#fff;
    font-size: 30px;
}

#tiitly .branch {
    
    
    width: 70%;
}

.itemtwo img
{
    width:100%;
}
.itemtwo p
{
    background-color: red;
}
.itemone
{
   /* background-color: #006699;*/
    border-radius: 10px;
   /* box-shadow: 10px 10px 15px black;*/
}


