*
{
    transition: all 1s;
}


.navbar-brand img
{
    width:50px;
    height:40px;
}
.navbar
{
    background-color: white;
    position:fixed;
    right:0;
    left:0;
    z-index:68455;
}
.nav-link 
{
    color:black;
     font-family: 'Source Sans Pro', sans-serif;
}

.nav-link:hover{
    
    background-color: #008fd5;
}
.navbar-brand
{
    color:#008fd5;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand i
{
    color:#008fd5;
}
.navbar-toggler{
    
   outline: none !important ;
}
.dropdown-item 
{
    color:#fff;
    background-color: #1f5f8b;
    font-family: 'Source Sans Pro', sans-serif; 
}
.dropdown-menu
{
    background-color: #1f5f8b;
    border-color: #fff;
}


.dropdown-menu a
{
    color: #fff;
}
.nav-link:hover
{
    color:#eee;
}
.dropdown-item:hover
{
    background-color: #1f5f8b;
    color:#fff;
    background-color: transparent;
}
.contactinfo h2
{
    font-weight:700;
    font-size:30px;
    color:#008fd5 ;
    padding-bottom:20px;
    font-family: 'Poppins', sans-serif;
}
.contactinfo p
{
    font-weight:300;
    font-size:16px;
    color:#fff;
    padding-bottom:20px;
     
}
.info i
{
    color:#fff;
}
.info span
{
    font-weight:300;
    font-size:16px;
    color:#fff;
}
.info span a
{
    text-decoration: none;
    color:#1f5f8b;
}

.social i
{
    text-align: center;
    width:35px;
    height:35px;
    color:#1f5f8b;
    border: solid 1px #999;
    background-color: transparent;
}
.social i:hover 
{
    color:#1f5f8b;
    background-color:#fff;
    border: solid 1px #1f5f8b;
}

.social
{
    padding-bottom:50px;
}
.ourdata .heading h2
{
     font-weight:700;
    font-size:38px;
    color:#008fd5 ;
    position:relative;
    font-family: 'Poppins', sans-serif;
}


.ourdata .heading p
{
    font-weight:300;
    font-size:18px;
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
}

.dataform .form-control
{
    border-radius: 0;
    border: solid 1px #1f5f8b;
    box-shadow: none;
}
.dataform input
{
    background-color: transparent;
}

.dataform textarea
{
    background-color: transparent;
}
.dataform .btn
{
    background-color: #008fd5 ;
;
    color:#fff;
    box-shadow: none;
    transition:all .3s ease;
    padding:10px 15px;
}
footer
{
    background-color: #2a303b;
}
.last-section p
{
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
}
.logo
{
    color:#1f5f8b;
    opacity: 0.2;
}
hr
{
    background-color:#ccc;
}




.itemone h2
{
     font-family: 'Source Sans Pro', sans-serif;
    color:#008fd5;
    font-size:30px;
    font-weight:600;
}
.itemone p
{
      color:#7c7c7c;
     font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    font-weight:300;
}
.itemone h3
{
     font-family: 'Source Sans Pro', sans-serif;
    color:#008fd5;
    font-size:30px;
    font-weight:600;
}

#tiitly .branch h3 {
    
    font-family: 'Charm', cursive;

    color:#008fd5;
    font-size: 40px;
    font-weight: 600;
    
    
}
.btnTop
{
    position:fixed;
    bottom:10%;
    right:5%;
    background-color: #008fd5 ;

    padding:10px;
    border-radius:15px;
    cursor: pointer;
    color:#fff;
    font-size: 30px;
}

#tiitly .branch {
    
    
    width: 70%;
}

.itemtwo img
{
    width:100%;
}
.itemtwo p
{
    background-color: red;
}
.itemone
{

   /* background-color: #006699;*/
    border-radius: 10px;
   /* box-shadow: 10px 10px 15px black;*/
}


