*
{
     transition: all 1s;
}
.navbar
{
    background-color:#fff;
    right:0;
    left:0;
    z-index:68455;
    padding:0;
    position:fixed;
}
.nav-link 
{
    color:#1f1f1f;
    font-family: 'Source Sans Pro', sans-serif;
}
.nav-item:hover{
    background-color:#008fd5;
}
.nav-item:hover .nav-link
{
    color:#fff;
}

    

.navbar-brand
{
    color:#008fd5;
    font-family: 'Poppins', sans-serif;
}
.navbar-brand i
{
    color:#008fd5;
}
.dropdown-item 
{
    color:#1f1f1f;
    background-color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    
}
.dropdown-menu
{
    background-color:#fff;
    border-color: #fff;
    color:#1f1f1f;
}

.dropdown-item:hover
{
    color:#fff;
    background-color:#008fd5;
}
.bacG{
  /*  background-image:url('../images/undraw_medicine_b1ol.png');
    background-repeat: no-repeat ;
    background-size:cover;*/

}

.input
{
    position: relative
}
.jo
{
    position: absolute;
    bottom: 10px;
    right: 2px;
    z-index: 10;
}
::placeholder
{
     font-family: 'Charm', cursive;
}

.CBott{
    color: #fff;
    padding: 5px;
    position: absolute;
    right: 1%;
    top: 100%;
    background-color: #333;
}

.HColl{
    font-family:  font-family: 'Charm', cursive;
    background-color: #13c5dd;
    padding: 8px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 4%;
    width: 40%;
    margin:auto;
    color: #fff;
    font-size: 20px
    
}
.PColl{
    background-color: #333;
}














.PNamePage{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size:30px;
    font-weight:600;
    color: #008fd5;
  
}


.LNamePage{
    border: 2px solid #008fd5;
    width: 60px;
}
.LNamePage:hover{
    width: 120px;
}
.Capse{
    margin-top: 5%;
 /*   border: 3px solid #13c5dd;*/
  border-radius: 30%; 
 text-align: center;   
}



}
.btn-link
{
    text-decoration: none !important ;
    color:#008fd5 !important;
    font-size:20px !important;
    font-weight:600 !important;
  
}
.btn{
        font-size: 1.5rem !important ;
   
}


p{
    color: #fff;
     font-family:'Source Sans Pro', sans-serif;
}

h5{
    color:#008fd5;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
}




.Num{ 
    padding: 2px;
   position: absolute;
    left: 35%;
        
}


.contactinfo h2
{
    font-weight:700;
    font-size:38px;
    color:#008fd5;;
    padding-bottom:20px;
    font-family: 'Poppins', sans-serif;
}
.contactinfo p
{
    font-weight:300;
    font-size:16px;
    color:#fff;
    padding-bottom:20px;
     
}
.info i
{
    color:#fff;
}
.info span
{
    font-weight:300;
    font-size:16px;
    color:#fff;
}
.info span a
{
    text-decoration: none;
    color:#008fd5;
}

.social i
{
    text-align: center;
    width:35px;
    height:35px;
    color:#008fd5;
    border: solid 1px #999;
    background-color: transparent;
}
.social i:hover 
{
    color:#1f5f8b;
    background-color:#fff;
    border: solid 1px #1f5f8b;
}

.social
{
    padding-bottom:50px;
}
.ourdata .heading h2
{
     font-weight:700;
    font-size:38px;
    color:#008fd5;;
    position:relative;
    font-family: 'Poppins', sans-serif;
}


.ourdata .heading p
{
    font-weight:300;
    font-size:18px;
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
}

.dataform .form-control
{
    border-radius: 0;
    border: solid 1px #1f5f8b;
    box-shadow: none;
}
.dataform input
{
    background-color: transparent;
}

.dataform textarea
{
    background-color: transparent;
}
.dataform .btn
{
    background-color: #008fd5;
    color:#fff;
    box-shadow: none;
    transition:all .3s ease;
    padding:10px 15px;
}
footer
{
    background-color: #213540;
}
.last-section p
{
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
}
.last-section
{
    background-color: #1c2d36;
}
.logo
{
    color:#008fd5;
    opacity: 0.2;
}
hr
{
    background-color:#ccc;
}
.btnTop{
    position:fixed;
    bottom:10%;
    right:5%;
    background-color:#008fd5;
    padding:10px;
    border-radius:15px;
    cursor: pointer;
    color:#fff;
    font-size: 30px;
}




@media  (max-width: 992px) {
  #nav .navbar-toggler {
    border-color: green!important ;
  }
}
@media  (max-width: 769px) {
  .health .right:after , .health .left:before {
    display: none;
  }
    
}
@media  (max-width: 464px) {
  .ourmission .pic img {
    height: 300px;
  }
}
